In [ ]:
# https://www.fueleconomy.gov/feg/download.shtml
# Data on miles per gallon for vehicles!
# Use the CMB column!

In [ ]:
# Read excel file: sheet_name='all_alpha_24'

in_path = 'Resources/SmartWay Vehicle List for MY 2024.xlsx'
vehicle_mpg_df = pd.read_excel(in_path, sheet_name='all_alpha_24')
vehicle_mpg_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,AUDI Q4 40 e-tron,NaN,NaN,Auto-1,2WD,Electricity,FA,T3B0,Federal Tier 3 Bin 0,RVGAV00.0NZ4,standard SUV,10,30,36,33,10,Elite
1,AUDI Q4 40 e-tron,NaN,NaN,Auto-1,2WD,Electricity,CA,ZEV,California ZEV,RVGAV00.0NZ4,standard SUV,10,30,36,33,10,Elite
2,AUDI Q4 50 e-tron quattro,NaN,NaN,Auto-1,4WD,Electricity,FA,T3B0,Federal Tier 3 Bin 0,RVGAJ00.0NZ5,standard SUV,10,97,87,93,10,Elite
3,AUDI Q4 50 e-tron quattro,NaN,NaN,Auto-1,4WD,Electricity,CA,ZEV,California ZEV,RVGAJ00.0NZ5,standard SUV,10,97,87,93,10,Elite
4,AUDI Q4 Sportback 50 e-tron quattro,NaN,NaN,Auto-1,4WD,Electricity,FA,T3B0,Federal Tier 3 Bin 0,RVGAJ00.0NZ5,standard SUV,10,100,89,95,10,Elite

In [ ]:
# Remove columns:
remove_cols = ['Displ', 'Cyl', 'Trans', 'Drive', 'Cert Region', 'Stnd',
               'Stnd Description', 'Underhood ID', 'Air Pollution Score',
               'Greenhouse Gas Score', 'SmartWay',
               'City MPG', 'Hwy MPG']

In [ ]:
vehicle_mpg_df = vehicle_mpg_df.drop(columns=remove_cols)
vehicle_mpg_df.head()

                                 Model         Fuel     Veh Class Cmb MPG
0                    AUDI Q4 40 e-tron  Electricity  standard SUV      33
1                    AUDI Q4 40 e-tron  Electricity  standard SUV      33
2            AUDI Q4 50 e-tron quattro  Electricity  standard SUV      93
3            AUDI Q4 50 e-tron quattro  Electricity  standard SUV      93
4  AUDI Q4 Sportback 50 e-tron quattro  Electricity  standard SUV      95

In [ ]:
convert_mpg_to_l_per_100_km = 235.214583 # 1 mile per gallon is equal to 235.214583 liters per 100 km

l_per_100_km_ls = []
for row in vehicle_mpg_df.iterrows():
    data = row[1]

    try:
        l_per_100_km = convert_mpg_to_l_per_100_km / float(data['Cmb MPG']) 
    except:
        l_per_100_km = None
    l_per_100_km_ls.append(l_per_100_km)

In [ ]:
vehicle_efficiency_df = vehicle_mpg_df.copy()
vehicle_efficiency_df.insert(3, "L/100km", l_per_100_km_ls, allow_duplicates=True)

In [ ]:
vehicle_efficiency_df.head()

,Model,Fuel,Veh Class,L/100km,Cmb MPG
0,AUDI Q4 40 e-tron,Electricity,standard SUV,7.127715,33
1,AUDI Q4 40 e-tron,Electricity,standard SUV,7.127715,33
2,AUDI Q4 50 e-tron quattro,Electricity,standard SUV,2.529189,93
3,AUDI Q4 50 e-tron quattro,Electricity,standard SUV,2.529189,93
4,AUDI Q4 Sportback 50 e-tron quattro,Electricity,standard SUV,2.475943,95

In [ ]:
# Finally drop 'Cmb MPG'
vehicle_efficiency_df = vehicle_efficiency_df.drop('Cmb MPG', axis=1)
vehicle_efficiency_df.head()

                                 Model         Fuel     Veh Class   L/100km
0                    AUDI Q4 40 e-tron  Electricity  standard SUV  7.127715
1                    AUDI Q4 40 e-tron  Electricity  standard SUV  7.127715
2            AUDI Q4 50 e-tron quattro  Electricity  standard SUV  2.529189
3            AUDI Q4 50 e-tron quattro  Electricity  standard SUV  2.529189
4  AUDI Q4 Sportback 50 e-tron quattro  Electricity  standard SUV  2.475943

In [ ]:
# Save the dataframe to csv

save_path = 'cleaned_data/vehicle_fuel_efficiency.csv'
vehicle_efficiency_df.to_csv(save_path)
print(f"Saved file to {save_path}")

Saved file to cleaned_data/vehicle_fuel_efficiency.csv